* {
  background-color: rgb(255, 162, 95);
  color: rgb(19, 11, 26);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

hr {
  margin: 2rem 0;
  outline: transparent;
  border-color: rgb(199, 121, 66);
}

.nav {
  margin: 0 0 2rem 0;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-link {
  padding: 0.5rem 1rem;
  display: block;
  margin: 0 0.5rem;
  box-shadow: 2px 2px 2px 2px rgb(199, 121, 66);
  transform: scale(1);
  transition: all 0.1s;
  text-decoration: none;
  border: 1px solid rgba(199, 121, 66, 0.2);
}

.nav-link:hover {
  transform: scale(0.95);
  box-shadow: 1px 1px 1px 1px rgb(199, 121, 66);
}

.pressed-link {
  transform: scale(0.95);
  box-shadow: 1px 1px 1px 1px rgb(199, 121, 66);
}

.page-title {
  display: inline-block;
  font-size: 50px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #631e09, #d34242, rgb(68, 68, 68));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: space-between; */
  gap: 4vw;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0px solid grey;
  padding: 1em;
  font-size: 1.3rem;
  gap: 0.5rem;
  width: 20vw;
  margin-bottom: 5vw;
  transition: all 0.1s;
  box-shadow: 1px 1px 1px 1px rgb(199, 121, 66);
}

.card:hover {
  box-shadow: 4px 4px 4px 4px rgb(199, 121, 66);
  border: 0px;
  cursor: pointer;
}

.card input {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.add-product {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}

.form-group {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-product input {
  /* display: inline-block;
  margin-left: 1rem; */
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #3f2075, #a8096e);
  padding: 0.2rem;
}

.dynamic-form {
  display: inline-flex;
  flex-direction: column;
  /* border: 1px solid rgb(199, 121, 66); */
  /* padding: 1rem; */
  width: 400px;
  gap: 1rem;
}

.submit-btn,
.delete-btn {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(
    120deg,
    rgb(199, 121, 66),
    rgb(255, 162, 95)
  );
  color: rgb(52, 52, 53);
  align-self: center;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(199, 121, 66);
  cursor: pointer;
  transition: all 0.3s;
}

.submit-btn:hover {
  color: rgb(27, 27, 34);
}

.delete-btn {
  margin-bottom: 2rem;
  background-image: linear-gradient(
    120deg,
    rgb(172, 114, 13),
    rgb(255, 163, 0)
  );
  color: rgb(102, 0, 0);
  box-shadow: 1px 1px 1px 1px rgba(100, 45, 5, 0.322);
}
