* {
  background-color: rgb(255, 162, 95);
  color: rgb(19, 11, 26);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

hr {
  margin: 2rem 0;
  outline: transparent;
  border-color: rgb(199, 121, 66);
}

.nav {
  margin: 0 0 2rem 0;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-link {
  padding: 0.5rem 1rem;
  display: block;
  margin: 0 0.5rem;
  box-shadow: 2px 2px 2px 2px rgb(199, 121, 66);
  transform: scale(1);
  transition: all 0.1s;
  text-decoration: none;
  border: 1px solid rgba(199, 121, 66, 0.2);
}

.nav-link:hover {
  transform: scale(0.95);
  box-shadow: 1px 1px 1px 1px rgb(199, 121, 66);
}

.pressed-link {
  transform: scale(0.95);
  box-shadow: 1px 1px 1px 1px rgb(199, 121, 66);
}

.page-title {
  display: inline-block;
  font-size: 50px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #631e09, #d34242, rgb(68, 68, 68));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
